<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welcome to Surf Central!</title>

    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->

  </head>
  <nav>
    <ul>
      <h1>Welcome</h1>
      <p><a href="{{url_for('auth.login')}}">Login</a></p>
      <p><a href="{{url_for('auth.register')}}">Register</a></p>
    </ul>
  </nav>
  <body>
    <div class="flex-container">
      <div class="bg-image">
        <img src="../../static/images/surf_bg.jpeg" alt="">
      </div>
    </div>

  </body>
</html>
